*{
    margin:0;
}
#container{
    height:auto;
    width: 95%;
    margin: auto;
}
#header{
    height:60px;
    background-color: white;
}
#logo{
    height: 60px;
}
#heading{
    font-size: 32px;
    font-family: candara;
    position: absolute;
    margin-top: 10px;
}
#nav{
    height:60px;
    background-color: goldenrod;
}
#nav ul{
    padding: 14px;
    list-style: none;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    font-size: 23px;
    color:white;
    margin-left: 85px;
    text-decoration: none;
    font-family: candara;
}
#nav ul li a:hover{
    color:black;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    background-color: goldenrod;
    width: 200px;
    margin-left: 330px;
}
#nav ul li ul li{
    margin-left: -60px;
    line-height: 40px;
}